{
    "rules": {
        "indent": [
            2,
            4
        ],
        "quotes": [
            2,
            "single"
        ],
        "semi": [
            2,
            "never"
        ]
    },
    "env": {
        "browser": true
    },
    "extends": "eslint:recommended",
    "globals": {
        "require": true,
        "module": true,
        "describe": true,
        "it": true,
        "beforeEach": true,
        "afterEach": true
    }
}